body{
  background-image: url("https://image.freepik.com/free-vector/background-scene-zoo-park-with-river-treehouse_1308-34562.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}